@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2D6CDF;
    --primary-color-active: #275bbd;
    --primary-color-opacity: #e0f0fb;
    --secondary-color: #fa967d;
    --background-color: #f1f5f8;
    --card-color: #fefffe !important;
    --sidebar-color: #fefffe;
    --sidebar-color-opacity: #e0f0fb;
    --background-input: #F0F0F0;
    --input-color: #ACACAC;

    --nav-color: #f8f9fa;

    /* Text Color */
    --text-primary: #2D6CDF;
    --text-color: #202429;
    --text-color-dark: #202429;
    --text-color-white: #FEFEFF;
    --text-color-secondary: #6d747d;

    /* Transisi */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    background-color: var(--background-color);
}


/* Text */
h1 {
    font-size: clamp(30px, 3vw, 35px) !important;
}
h2 {
    font-size: clamp(25px, 3vw, 30px) !important;
}
h3 {
    font-size: clamp(20px, 3vw, 25px) !important;
}
h4 {
    font-size: clamp(15px, 3vw, 20px) !important;
}
h5 {
    font-size: clamp(10px, 3vw, 15px) !important;
}
h6 {
    font-size: clamp(5px, 3vw, 10px) !important;
}
.fs-7,
td span {
    font-size: clamp(10px, 3vw, 13px) !important;
}
/* Text End */


.border-primary {
    border-color: var(--primary-color) !important;
}
.btn-primary {
    background-color: var(--primary-color);
    border: none;
}
.btn-primary:hover {
    background-color: var(--primary-color-active);
    border: none;
}
.btn-primary:focus {
    background-color: var(--primary-color-active) !important;
    border: none;
}
.btn-primary:active {
    background-color: var(--primary-color-active) !important;
    border: none;
}

.btn-outline-primary {
    border-color: var(--primary-color) !important;
    color: var(--text-color-dark) !important;
}
.btn-outline-primary:hover {
    background-color: var(--primary-color-active) !important;
    color: var(--text-color-white) !important;
}
.btn-outline-primary.active {
    background-color: var(--primary-color-active) !important;
    color: var(--text-color-white) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}
.text-color {
    color: var(--text-color);
}


/* Toasts */
.toast {
    animation: fadeInOut 1s ease-in-out;
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    50% {
        opacity: 1;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.toast.show {
    width: 400px;
    height: max-content;
    position: fixed;
    top: 95px;
    right: 0;
    padding: 5px;
    background-color: var(--nav-color);
    display: block;
}
.toast .toast-body {
    border-radius: 0px 0px 10px 10px;
}

@media (max-width: 768px) {
    .toast.show {
        width: 100% !important;
        position: fixed;
        top: 85px;
    }
}
/* Toasts End */


/* Notification */
.notification-container {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 350px;
    z-index: 1000;
    max-height: 400px;
}
@media (max-width: 768px) {
    .notification-container {
        width: 300px;
    }
}
@media (max-width: 400px) {
    .notification-container {
        width: 240px;
    }
}
.notification-container .notification {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
.notification-container .notification::-webkit-scrollbar {
    width: 8px;
}
.notification-container .notification::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.notification-container .notification::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
/* Notification End */


/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1000 !important;
}

.sidebar header #navNameBrand {
    display: flex;
    white-space: nowrap;
}
.sidebar header .toggle {
    margin-top: 235px;
}

.sidebar.close {
    width: 88px;
}
.sidebar.close header .toggle {
    transform: translateY(-50%) rotate(180deg);
}

.sidebar.close .text {
    opacity: 0;
    display: none;
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .nav-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-secondary);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul {
    margin-left: -32px;
}

.sidebar li {
    height: 50px;
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 46px;
    font-size: 20px;
    color: var(--text-color-secondary);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px 10px 10px 1px;
    transition: var(--tran-04);
}

.sidebar li a.active,
.sidebar li a.active .icon,
.sidebar li a.active .nav-text {
    background-color: var(--sidebar-color-opacity);
    color: var(--text-primary);
}

.sidebar li a:hover {
    background: var(--sidebar-color-opacity);
}
.sidebar .bottom-content li a:hover {
    background-color: transparent !important;
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 700;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color-white);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.closed~.dashboard {
    left: 88px;
    width: calc(100% - 88px);
    padding: 10px 15px;
}
.sidebar.closed~.navbar {
    left: 80px;
    width: calc(100% - 80px);
}
/* Sidebar End */


/* Navbar */
.navbar {
    background-color: var(--sidebar-color);
    position: sticky;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    padding: 10px 0px;
    z-index: 99;
}
.navbar-nav .nav-item .nav-link .profile-image {
    width: 26px !important;
    height: 26px !important;
    overflow: hidden;
    border-radius: 50px !important;
}
.navbar-nav .nav-item .nav-link .profile-image img,
.profile .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar .dropdown-menu {
    background-color: var(--sidebar-color);
}
.navbar .dropdown-menu .dropdown-item {
    color: var(--text-color-secondary);
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: var(--sidebar-color-opacity);
    color: var(--text-color);
}

.nav-username {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-color);
}


@media (max-width: 500px) {
    .nav-username {
        display: none;
    }
}
/* Navbar End */


/* Offcanvas */
.offcanvas {
    background-color: var(--sidebar-color);
    max-width: 300px;
}
.offcanvas-body ul li {
    padding: 10px;
}
.offcanvas-body ul li a {
    text-decoration: none;
    color: var(--text-color-secondary);
    font-size: 18px;
    padding: 0px 15px;
}
.offcanvas-body ul li.active {
    background-color: var(--sidebar-color-opacity);
}
.offcanvas-body ul li.active > * {
    color: var(--text-primary);
}
.offcanvas-body ul li:hover {
    background-color: var(--sidebar-color-opacity);
}
/* Offcanvas End */

.card {
    border-radius: 20px !important;
}

.dashboard {
    position: relative;
    left: 260px;
    width: calc(100% - 300px);
    transition: var(--tran-05);
    padding: 10px 0px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 80px;
    }
    .sidebar.close {
        width: 0;
    }

    .dashboard {
        left: 80px;
        width: calc(100% - 80px);
    }

    .navbar {
        left: 0px !important;
        width: 100% !important;
    }

    .sidebar~.dashboard,
    .sidebar.closed~.dashboard {
        position: static;
        width: 100% !important;
        margin: 0px !important;
    }
}


/* Form Input */
textarea,
select,
input {
    border: 1px solid var(--input-color) !important;
    background-color: transparent !important;
    color: var(--text-color);
    border-radius: 10px;
}
input.form-control.is-invalid {
    border-color: #dd3445 !important;
}
textarea::placeholder,
select::placeholder,
input::placeholder {
    color: var(--text-color-secondary) !important;
}
textarea:focus,
select:focus,
input:focus {
    border-color: var(--primary-color) !important;
    box-shadow: none !important;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #6d747d;
    color: var(--text-color-white);
}
input[type="file"]:hover::-webkit-file-upload-button {
    background-color: var(--primary-color) !important;
    color: var(--text-color-white) !important;
    transition: var(--tran-03);
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
}
/* Form Input End */



/* Dropdown */
.dropdown .dropdown-menu .dropdown-item:focus,
.dropdown .dropdown-menu .dropdown-item:active {
    background-color: var(--primary-color);
    color: var(--text-color-white);
}
/* Dropdown End */


/* Breadcrumb */
.breadcrumb {
    gap: 10px;
}
.breadcrumb>.breadcrumb-items.active {
    font-weight: 500;
    background-color: var(--primary-color);
}
.breadcrumb>.breadcrumb-items.active::after {
    border-left-color: var(--primary-color);
}
.breadcrumb>.breadcrumb-items {
    position: relative;
    background-color: var(--primary-color-active);
    color: var(--text-color-white);
    padding: 10px 10px 10px 35px;
    text-decoration: none;
}
.breadcrumb>.breadcrumb-items::after {
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    height: 0;
    width: 0;
    border: 22px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
    border-left-color: var(--primary-color-active);
}
.breadcrumb>.breadcrumb-items::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    border: 22px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
    border-left-color: var(--background-color);
    transform: translateX(30px);
    margin: 0;
}
.breadcrumb>.breadcrumb-items:hover {
    text-decoration: underline;
}
/* Breadcrumb End */



.history-container .col .card .icon i,
.staff-container .col .card .icon i {
    padding: 0;
    margin: 0;
}
.history-container .col .card .icon,
.staff-container .col .card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}
.history-container .col .card .icon,
.staff-container .col:nth-child(1) .card .icon,
.staff-container .col:nth-child(5) .card .icon,
.staff-container .col:nth-child(6) .card .icon {
    background-color: var(--sidebar-color-opacity);
}
.staff-container .col:nth-child(2) .card .icon {
    background-color: rgba(0, 128, 0, 0.1);
    color: rgba(0, 128, 0, 1);
}
.staff-container .col:nth-child(4) .card .icon {
    background-color: rgba(255, 215, 0, 0.18);
    color: rgba(255, 215, 0, 1);
}
.staff-container .col:nth-child(3) .card .icon {
    background-color: rgba(255, 0, 0, 0.1);
    color: rgba(255, 0, 0, 0.8);
}



/* Pengaturan */
.pengaturan-container .card {
    border-radius: 10px;
}
.pengaturan-container .card:hover {
    background-color: var(--primary-color) !important;
    color: var(--text-color-white) !important;
    transition: var(--tran-03);
}
.pengaturan-container .card:hover span {
    color: var(--text-color-white) !important;
    transition: var(--tran-03);
}
/* Pengaturan End */



/* Edit Akun */
.container-edit-akun .card {
    background-color: var(--card-color) !important;
    border: none;
    border-radius: 10px;
}
.container-edit-akun .card .profile .foto-profile {
    width: 100px;
    height: 100px;
}
.container-edit-akun .card .foto-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.container-edit-akun .card .profile-details table tr td {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    padding: 3px;
}
.container-edit-akun .edit-profile,
.container-edit-akun .logout {
    background-color: var(--card-color) !important;
    border: none;
    border-radius: 10px;
    padding: 0px 20px;
    cursor: pointer;
}
.container-edit-akun .logout i,
.container-edit-akun .logout h5 {
    color: #dc3545 !important;
    background-color: transparent !important;
}
.container-edit-akun .edit-profile:hover {
    background-color: var(--primary-color) !important;
    transition: var(--tran-03) !important;
}
.container-edit-akun .edit-profile:hover i,
.container-edit-akun .edit-profile:hover h5 {
    color: var(--text-color-white) !important;
}
.container-edit-akun .logout:hover {
    background-color: #dc3545 !important;
    transition: var(--tran-03);
}
.container-edit-akun .logout:hover i,
.container-edit-akun .logout:hover h5 {
    color: #DFE3E6 !important;
    transition: var(--tran-03);
}
.modal .modal-content {
    background-color: var(--nav-color);
    color: var(--text-color);
    border: none;
}
.modal .modal-content .modal-body input {
    border: 1px solid var(--input-color);
    background-color: transparent;
    color: var(--text-color);
    border-radius: 10px;
}
.modal .modal-content .modal-body input.is-invalid {
    border-color: #dc3545 !important;
}
.modal .modal-content .modal-body input::placeholder {
    color: var(--text-color);
}
.modal .modal-content .modal-body input:focus {
    border-color: var(--primary-color);
    box-shadow: none;
}
.modal .modal-content .modal-body .edit-banner {
    aspect-ratio: 16/6;
    overflow: hidden;
}
.modal .modal-content .modal-body .edit-banner img {
    width: 100%;
    height: 100%;
}
.modal .modal-content .modal-body .profile .foto-profile {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.modal .modal-content .modal-body .profile .foto-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal .modal-content .reset-btn {
    display: flex;
    position: absolute;
    justify-content: end;
    padding: 0px;
    margin: 0px;
    top: 80px;
    right: 16px;
    z-index: 2;
}
.modal .modal-content .reset-btn button {
    padding: 5px 20px !important;
    background-color: rgba(225, 225, 225, 0.3);
    color: var(--text-color);
    border: none;
}
.modal .modal-content .reset-btn button:hover {
    background-color: var(--primary-color);
    color: var(--text-color-white);
    transition: var(--tran-03);
}
@media (max-width: 450px) {
    .modal .modal-content .reset-btn {
        top: 70px;
    }
}
/* Profile End */